<div class="col-md-4 col-md-offset-4">
  <h1>新增每筆開銷</h1>

  <hr>
  <%= simple_form_for @record do |f| %>
    <div class="form-group">
      <%= f.input :description, input_html: { class: "form-control"} %>
      <%= f.input :price, input_html: { class: "form-control"} %>
    </div>

    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>

    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  <% end %>
</div>