<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
    Copyright ©2015 Meony Record <br>
    Design by <a href="http://blog-fred.logdown.com" target=_new>Fred</a>
  </p>
</footer>